.container{
    margin: auto;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 500px;
    background-color: aqua;
}
.manu{
    margin-top:300px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color:green;
    text-align: center;

}